<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectsmd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSMD">
        <activity android:name=".Show_quiz_type1"></activity>
        <activity android:name=".Show_quiz_type2" />
        <activity android:name=".Quiz_Name_Form2" />
        <activity android:name=".Quiz_Name_Form1" />
        <activity android:name=".Add_Quiz_1" />
        <activity android:name=".MCQS_Quiz" />
        <activity android:name=".Add_Quiz_2" />
        <activity android:name=".Fill_in_the_blank_quiz" />
        <activity android:name=".Teacher_Module" />
        <activity android:name=".Student_Module" />
        <activity android:name=".SignIn" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>